@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Work Sans", system-ui;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared styles */
.title-primary {
  color: rgb(19, 19, 19);
  font-size: 2.8rem;
  font-weight: 700;
}

.display-flex {
  display: flex;
}

.btn-primary {
  margin-top: 32px;
  width: 180px;
  height: 64px;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  border-radius: 8px;
  background-color: rgb(255, 144, 14);
  border: none;
}

main {
  width: 80%;
  margin: 0 auto;
}

/* nav styles */
header {
  background: rgba(255, 144, 14, 0.1);
}
nav {
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav-logo,
.nav-links {
  margin-top: 50px;
}

.nav-links ul {
  justify-content: space-between;
  gap: 50px;
  list-style-type: none;
}

.nav-links ul li a {
  color: rgb(66, 66, 66);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.bar {
  display: none;
}

/* banner styles  */
.banner-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 86px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-container img {
  margin-top: 50px;
  width: 100%;
  height: 600px;
  margin-bottom: 45px;
}

.banner-title {
  font-size: 4rem;
  margin-bottom: 16px;
}

.banner-des {
  color: rgb(114, 114, 114);
  font-size: 1rem;
  font-weight: 400;
  width: 868px;
}

/* feature team styles  */

.feature-team-container {
  margin-top: 85px;
  align-items: center;
}

.feature-team-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.feature-content {
  margin-left: 73px;
  max-width: 537px;
  height: 304px;
}
.feature-des {
  margin-top: 24px;
  color: rgb(114, 114, 114);
  font-size: 1rem;
  font-weight: 400;
}

.title2 {
  color: rgb(114, 114, 114);
}

.title3 {
  color: rgb(255, 144, 14);
}

/* featuresLove styles  */
.featuresLove-container {
  display: flex;
  gap: 146px;
  margin-top: 130px;
}

.featuresLove-des {
  margin-top: 24px;
  margin-bottom: 30px;
  width: 586px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(114, 114, 114);
}

.love {
  margin-bottom: 20px;
  width: 586px;
  height: 171px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
}

.love > h2 {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 30px 0px 10px 33px;
}

.love > p {
  padding: 10px 42px 30px 33px;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(114, 114, 114);
}

.featuresLove-img {
  z-index: 1;
  position: relative;
  height: 982px;
}

.experience {
  position: absolute;
  left: -76px;
  bottom: -73px;
  width: 300px;
  height: 180px;
  border-radius: 8px;
  background: rgb(255, 144, 14);
}

.experience h1 {
  font-size: 3.4rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 45px 45px 5px 45px;
}

.experience p {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  padding: 0px 45px 0px 81px;
}

/* mobile responsive  */
@media screen and (max-width: 576px) {
  /* shared styles  */
  .title-responsive {
    font-size: 1.8rem;
  }

  /* nav styles  */
  .nav-links ul {
    display: none;
  }
  .bar {
    display: inline-block;
  }

  /* banner styles  */
  .banner-title {
    font-size: 2rem;
  }

  .banner-des {
    width: 100%;
  }

  .banner-container img {
    margin-top: 40px;
    height: 310px;
  }

  /* feature team styles  */
  .feature-team-container {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .feature-team-img {
    grid-template-columns: repeat(1, 1fr);
  }

  .feature-content {
    margin-left: 25px;
  }
}
